* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**** Colors ****/
:root{
  --color-purple-light: #8B48BF4D;
  --color-purple-strong: #8B48BF;
  --color-gray-ligth: #B3B2B7;
  --color-gray-description-player: #FAFAFA;
  --color-black: black;
  --color-white: white;
  --color-cyan: #3CDDF3;
  --color-blue-dark: #232C50;
  --color-blue-footer: #1E1E26;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}

/* Desktop*/

/*********** Utils *************/

/** Buttons **/
.main-button-more,
.main-button-go-for-it {
  background-color: var(--color-purple-strong);
  color: #fff;
  border-radius:25px;
  border: none;
  width: 6.5rem;
  height: 2.3rem;
  font-size: .8rem;
  cursor: pointer;
}

/** Animation **/
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

button {
  transition: all 0.2s linear 0s;
}

.inverse:before {
  color: var(--color-purple-strong);
}

button:before {
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -30px;
  width: 30px;
  height: 100%;
  border-radius: 0px 6px 6px 0px;
  transition: all 0.2s linear 0s;
  text-align: center;
}
button:hover {
  text-indent: -30px;
}
button:hover:before {
  right: 0;
  text-indent: 0px;
}

.center-h,
.main-player-header,
.main-button {
  display: flex;
  justify-content: center;
  width: auto;
}

/*********************** Header **********************/
.barra-navegacion{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:65px;
  padding-bottom: 65px;
  padding-right: 165px;
  padding-left: 165px;
}

.barra-navegacion button{
  box-shadow: 10px 13px 43px 0px rgba(0,0,0,0.36);
}

header ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

header ul>li{
  padding: 0 28px;
  font-size: 13px;
}

header a{
  text-decoration: none;
  color: #242E52;
}

header a:hover{
  color: #242E5299;
}

.header-container{
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  padding: 0 165px;
  width: 100%;
}

.header-content{
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-content h1, p, button{
  margin: 20px 0;
}

h1{
  color:#232C50;
  font-size: 48px;
  line-height: 57.3px;
  font-weight: 700;
  letter-spacing: -3.5%;
}

.header-content>p, h1{
  text-align: right;
}

.header-content button{
  box-shadow: 10px 13px 43px 0px rgba(0,0,0,0.36);
}

.img-header{
  width: 540px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*********************** Main **********************/
.main-container {
  width: 100%;
}

/****** Question ******/
.main-container-question {
  background-color: var(--color-purple-strong);
  color: var(--color-white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0;
}

.main-question {
  font-size: 2rem;
  padding: 20px 0;
}

.main-question span {
  display: block;
}

.main-question-description {
  font-size: .9rem;
  max-width: 33rem;
  padding: 15px;
}

.main-question-description p:nth-child(1) {
  display: block;
}

.main-question-description p:nth-child(2) {
  display: none;
}

.main-container-answer {
  width: 100%;
}

.main-question {
  font-size: 1.7rem;
}

/****** Answer ******/
.main-answers {
  display: flex;
  width: 100%;
  padding: 30px 0px;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--color-gray-description-player);
}

.main-answer-1,
.main-answer-2,
.main-answer-3 {
  width: 32rem;
  padding-left: 19px;
}

.main-number-question {
  width: 100%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main-number-question span:nth-child(1) {
  background-color: var(--color-purple-strong);
  color: #fff;
  display: inline-block;
  width: 50px;
  text-align: center;
  border-radius: 25px;
  padding: 5px;
}
.main-number-question span:nth-child(2) {
  color: var(--color-black);
  font-weight: bold;
  margin-left: 10px;
}

.main-answer-description {
  padding: 0 20px 0 65px;
  color: var(--color-gray-ligth);
}

/****** Best of the best ******/
.main-best-title {
  padding: 70px 0 40px;
  text-align: center;
  background-color: var(--color-white);
  font-size: 1.5rem;
}

.main-of-the-best {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 30px 0;
}

.main-player-1,
.main-player-2,
.main-player-3 {
  width: 400px;
}

.display-block,
.main-player-1,
.main-player-2,
.main-player-3 {
  display: block;
}

.main-player-header {
  position: relative;
  height: 40px;
}

.main-player-header img {
  position: absolute;
}

.main-player-description {
  background-color: var(--color-gray-description-player);
  padding: 50px 0 10px;
  margin-bottom: 25px;
}

.main-player-description div:nth-child(1) {
  color: var(--color-black);
  font-weight: bold;
}

.main-player-description div:nth-child(2) {
  padding: 20px 0;
}

.main-button {
  margin: 30px 0 40px 0;
}

/**** Get to Know ****/
.main-team-of-the-year {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background-color: var(--color-purple-strong);
  color: var(--color-white);
}

.main-team-title-1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.main-team-title-1 span {
  display: block;
}

.main-team-title {
  display: none;
}

.main-button-go-for-it {
  background-color: var(--color-white);
  color: var(--color-purple-strong); 
}

/*********************** footer **********************/
footer{
  background-color: #1E1E26;
  display: flex;
  justify-content: space-around;
}

footer ul{
  list-style-type: none;
}

footer ul>li{
  margin-bottom: 12px;
}

footer a{
  text-decoration: none;
  color: #FFFFFF;
}

footer p{
  color: #8C8C94;
}

.section-nav-footer{
  display: flex;
  width: 392.73px;
  justify-content: space-between;
  margin: 40px;
}

.section-logo-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px;
}

.section-logo-footer01{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 40px;
}

.icons-footer{
  display: flex;
  justify-content: space-between;
  width: 153px;
}

.added{
  background-color: var(--color-purple-strong);
  color: #fff;
  border-radius:25px;
  border: none;
  width: 3.5rem;
  height: 2.3rem;
  font-size: .8rem;
  cursor: pointer;
}

input{
  border-radius: 50px;
  padding: 10px;
  border: none;
}

#image-hamburger{
  display: none;
}

@media(max-width: 480px){

/*********************** Header **********************/
  .barra-navegacion{
    display: flex;
    justify-content:space-around;
    padding: 65px 0px;
  }

  .barra-navegacion button{
    display: none;
  }

  .barra-navegacion img{
    margin-left: 30px;
  }
  header ul{
    /* list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; */
    display: none;
  }

  #image-hamburger{
    display: block;
    margin-left: 170px;
  }

  header ul>li{
    padding: 0 10px;
  }

  .header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 4px;
  }

  .header-content{
    width: 400px;
  }

  .img-header{
    width: 400px;
    align-self: flex-start;
    height: 341.53px;
    margin-bottom: 60px;
  }
/*********************** Main **********************/
  
  /****** Utils ********/
  /** Buttons **/
  .main-button-more,
  .main-button-go-for-it {
    width: 22vw;
    height: 4vh;
    border-radius: 4vw;
  }

  .inverse:before {
    color: var(--color-white);
  }

  /****** Question ******/
  .main-container-question {
    background-color: var(--color-cyan);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 15px;
    width: 100%;
    margin-bottom: 25px;
  }
  
  .main-question {
    font-size: 8.5vw;
    font-weight: 500;
  }
  
  .main-question span {
    display: inline;
  }

  .main-question-description {
    font-size: .9em;
    padding: 30px 0 13px;
  }
  
  .main-question-description p:nth-child(1) {
    display: none;
  }
  
  .main-question-description p:nth-child(2) {
    display: block;
  }

  /****** Answer ******/
  .main-container-answer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .main-answer-1,
  .main-answer-2,
  .main-answer-3 {
    width: 95vw;
  }

  .main-answers {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    color: var(--color-gray-ligth);
    align-items: flex-end;
  }
  
  .main-player-description {
    font-size: 3.2vw;
  }

  .main-number-question {
    width: 100%;
    background-color: var(--color-purple-light);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  
  .main-number-question span:nth-child(1) {
    background-color: var(--color-purple-strong);
    color: #fff;
    display: inline-block;
    width: 55px;
    border-radius: 25px;
    font-size: 3.2vw;
    padding: 6px;
  }
  
  .main-number-question span:nth-child(2) {
    color: var(--color-black);
    font-size: 3.2vw;
    font-weight: bold;
  }
  
  .main-answer-description {
    padding: 8px 10px 0 1px;
    font-size: 3.2vw;
  } 
  
  /****** Best of the best ******/
  .main-player-1,
  .main-player-3 {
    display: none;
  }
  
  .main-player-1,
  .main-player-2,
  .main-player-3 {
    width: 90%;
  }

  .main-best-title {
    width: 100%;
    padding: 20px 0 40px;
    text-align: center;
    background-color: var(--color-white);
    font-size: 4.1vw;
  }
  
  .main-of-the-best {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 30px 0;
  }

  .main-button {
    margin: 0 0 53px 0;
  }

  .main-button-more {
    font-size: 3.2vw;
  }

  /**** Get to Know ****/
  .main-team-of-the-year {
    background-color: var(--color-cyan);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-team-title {
    font-size: 7.8vw;
    text-align: center;
    display: block;
  }

  .main-team-title-1 {
    display: none;
  }

  .main-team-title span {
    display: block;
  }

  .main-button-go-for-it {
    background-color: var(--color-blue-dark);
    color: var(--color-white);
    font-size: 3.2vw;
    margin: 30px 0 0;
  } 
/*********************** footer **********************/
  footer{
    flex-direction: column;
    position: relative;
  }

  footer p{
    position: relative;
    top: 355px; /*335px*/
    margin: 10px auto 20px auto;
  }

  .section-nav-footer{
    width: 70%;
    margin:10px auto 30px auto;
    order: 2;
  }

  .section-logo-footer{
    order: 3;
    width: 100%;
    align-items: center;
    margin: 5px 0;
  }

  .section-logo-footer01{
    order: 1;
    margin:20px;
    padding: 5px;
  }

  .section-logo-footer01 button{
    padding: 4px 4px;
  }

  .logo-footer{
    order: 2;
    margin: 0 0 20px 0;
  }

  .logo{
    margin: 30px 0;
  }

  .icons-footer{
    justify-content: space-evenly;
    width: 100%;
  }

  input{
    width: 80%;
    padding: 15px 4px;
  }
}
